
.skeletal1 {
    background-image: url("images/anatomy/skeletal-full/skeletalSprite1.png");
}

.skeletal2 {
    background-image: url("images/anatomy/skeletal-full/skeletalSprite2.png");
}

.skeletal3 {
    background-image: url("images/anatomy/skeletal-full/skeletalSprite3.png");
}

.skeletal4 {
    background-image: url("images/anatomy/skeletal-full/skeletalSprite4.png");
}

.muscular1 {
    background-image: url(images/anatomy/muscular-full/muscularSprite1.png);
}

.muscular2 {
    background-image: url(images/anatomy/muscular-full/muscularSprite2.png);
}

.muscular3 {
    background-image: url(images/anatomy/muscular-full/muscularSprite3.png);
}

.muscular4 {
    background-image: url(images/anatomy/muscular-full/muscularSprite4.png);
}

.muscular5 {
    background-image: url(images/anatomy/muscular-full/muscularSprite5.png);
}
